/** Global *******************************************/
*{
	all: unset;
	font-family: Cousine Nerd Font;
}

/** Background ***************************************/
.bg {
	background-image: url("images/bg.png");
    background-size: 100%;
	background-color: #474D59;
	opacity: 1;
}

/** Generic window ***********************************/
.genwin {
	background-color: #2E3440;
	border-radius: 16pt;
}

/** Profile ******************************************/
.face {
	background-size: 200pt;
	min-height: 200pt;
	min-width: 200pt;
	margin: 65pt 0pt 0pt 0pt;
	border-radius: 100%;
}

.fullname {
	color: #D46389;
	font-size : 30pt;
	font-weight : bold;
}

.username {
	color: #8FBCBB;
	font-size : 22pt;
	font-weight : bold;
	margin : -15pt 0pt 0pt 0pt;
}

/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 32pt;
	font-weight : normal;
}
.iconcpu {
	color: #BF616A;
}
.iconmem {
	color: #A3BE8C;
}
.iconbright {
	color: #EBCB8B;
}
.iconbat {
	color: #88C0D0;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: #3A404C;
	min-height: 28pt;
	min-width: 240pt;
    border-radius: 16pt;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
    border-radius: 16pt;
}

.cpu_bar scale trough highlight {
	background-color: #BF616A;
}
.mem_bar scale trough highlight {
	background-color: #A3BE8C;
}
.bright_bar scale trough highlight {
	background-color: #EBCB8B;
}
.bat_bar scale trough highlight {
	background-color: #88C0D0;
}

/** Clock ********************************************/
.time_hour, .time_min {
	color: #81A1C1;
	font-size : 70pt;
	font-weight : bold;
}
.time_hour {
	margin : 15pt 0pt 0pt 20pt;
}
.time_min {
	margin : 0pt 0pt 10pt 0pt;
}

.time_mer {
	color: #A3BE8C;
	font-size : 40pt;
	font-weight : bold;
	margin : 20pt 0pt 0pt 0pt;
}

.time_day {
	color: #EBCB8B;
	font-size : 30pt;
	font-weight : normal;
	margin : 0pt 0pt 20pt -20pt;
}

/** Uptime ********************************************/
.icontimer {
	color: #B48EAD;
	font-size : 90pt;
	font-weight : normal;
}

.uphour {
	color: #E5E9F0;
	font-size : 42pt;
	font-weight : bold;
}

.upmin {
	color: #E5E9F0;
	font-size : 32pt;
	font-weight : bold;
}

/** Music ***************************************/
.album_art {
	background-size: 100%;
    background-repeat: no-repeat;
	min-height: 320pt;
	min-width: 320pt;
    border-radius: 16px;
	margin: 50pt 20pt 50pt 20pt;
}

.song {
	color: #8FBCBB;
	font-size : 24pt;
	font-weight : bold;
	margin : 40pt 0pt 0pt 0pt;
}

.artist {
	color: #EBCB8B;
	font-size : 16pt;
	font-weight : normal;
	margin : 0pt 0pt 15pt 0pt;
}

.btn_prev, .btn_play, .btn_next {
	font-family: Cousine Nerd Fond;
}
.btn_prev {
	color: #EBCB8B;
	font-size : 32pt;
	font-weight : normal;
}
.btn_play {
	color: #A3BE8C;
	font-size : 48pt;
	font-weight : bold;
}
.btn_next {
	color: #EBCB8B;
	font-size : 32pt;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: #B48EAD;
	border-radius: 8pt;
}
.music_bar scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 8pt;
	min-height: 20pt;
	min-width: 310pt;
	margin : 10pt 0pt 0pt 0pt;
}

.song_progress {
	color: #B48EAD;
    font-size: 16pt;
}

.volume-icon{
  margin: .2rem 0 .2rem 0;
  font-size: 16pt;
  min-width: 24pt;
  min-height: 24pt;
  margin: 4pt;
  color: #8FBCBB;
}

scale trough {
  all: unset;
  background-color: #1E2430;
  border-radius: 5pt;
  min-height: 10pt;
  min-width: 80pt;
  margin: .3rem 0 .3rem 0;
}

.volbar trough highlight {
  background-color: #8FBCBB;
  border-radius: 5pt;
}

.shuffle, .repeat {
  color: #8FBCBB;
  font-size: 24pt;
}

/** Weather ***************************************/
.iconweather {
	font-family: Cousine Nerd Font;
	font-size : 120pt;
	font-weight : normal;
	margin : 15pt 0pt 0pt 30pt;
}

.label_temp {
	color : #A6D1DD;
	font-size : 80pt;
	font-weight : bold;
	margin : -15pt 30pt 0pt 0pt;
}

.label_stat {
	color : #BF616A;
	font-size : 38pt;
	font-weight : bold;
}

.label_quote {
	color : #E5E5E5;
	font-size : 18pt;
	font-weight : normal;
}

/** Applications ***************************************/
.appbox {
	margin : 15pt 0pt 0pt 25pt;
}

.app_fox, .app_telegram, .app_discord, .app_terminal,
.app_files, .app_geany, .app_code, .app_gimp, .app_vbox {
    background-repeat: no-repeat;
	background-size: 64pt;
	min-height: 64pt;
	min-width: 64pt;
	margin: 8pt 8pt 0pt 8pt;
}

.app_fox {}
.app_telegram {}
.app_discord {}
.app_terminal {}
.app_files {}
.app_geany {}
.app_code {}
.app_gimp {}
.app_vbox {}

/** Links ***************************************/
.iconweb, .iconmail {
	color: #FFFFFF;
	font-family: Cousine Nerd Font;
	font-size : 70pt;
	font-weight : normal;
}
.iconmail {
	color: #DF584E;
}

.github {
	background-color: #24292E;
	border-radius: 16pt;
}
.reddit {
	background-color: #E46231;
	border-radius: 16pt;
}
.stackoverflow {
	background-color: #E7700D;
	border-radius: 16pt;
}
.youtube {
	background-color: #DF584E;
	border-radius: 16pt;
}
.mail {
	background-color: #FFFFFF;
	border-radius: 16pt;
}

.mailbox {
	background-color: #E5E5E5;
	border-radius: 10pt;
	margin: 48pt 0pt 48pt 0pt;
}
.label_mails {
	color: #404040;
	font-size : 32pt;
	font-weight : bold;
	margin: 0pt 12pt 0pt 12pt;
}

/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 48pt;
	font-weight : bold;
}

.btn_logout {
	color: #BF616A;
}
.btn_sleep {
	color: #A3BE8C;
}
.btn_reboot {
	color: #EBCB8B;
}
.btn_poweroff {
	color: #88C0D0;
}

/** Home folders ***************************************/
.hddbox {
	background-color: #3A404C;
	border-radius: 10pt;
	margin : 15pt;
}
.hddicon {
	color: #81A1C1;
	font-family: Cousine Nerd Font;
	font-size : 70pt;
	font-weight : normal;
	margin : 25pt 20pt 25pt 40pt;
}
.hdd_label {
	color: #E5E9F0;
	font-size : 48pt;
	font-weight : bold;
	margin : 0pt 0pt 0pt 15pt;
}
.fs_sep {
	color: #2E3440;
	font-size : 36pt;
	font-weight : bold;
}

.iconfolder1, .iconfolder2, .iconfolder3, .iconfolder4, .iconfolder5, .iconfolder6  {
	font-family: Cousine Nerd Font;
	font-size : 32pt;
	font-weight : normal;
	margin : 0pt 0pt 0pt 75pt;
}
.iconfolder1 {
	color: #BF616A;
}
.iconfolder2 {
	color: #A3BE8C;
}
.iconfolder3 {
	color: #EBCB8B;
}
.iconfolder4 {
	color: #81A1C1;
}
.iconfolder5 {
	color: #B48EAD;
}
.iconfolder6 {
	color: #88C0D0;
}

.label_folder1, .label_folder2, .label_folder3, .label_folder4, .label_folder5, .label_folder6  {
	font-size : 22pt;
	font-weight : normal;
	margin : 0pt 0pt 0pt 30pt;
}
.label_folder1 {
	color: #BF616A;
}
.label_folder2 {
	color: #A3BE8C;
}
.label_folder3 {
	color: #EBCB8B;
}
.label_folder4 {
	color: #81A1C1;
}
.label_folder5 {
	color: #B48EAD;
}
.label_folder6 {
	color: #88C0D0;
}

/** EOF *************************************************/
