$bg: #30383E;
$bg-light: #5B454D;

$text: #E8FAED;

$fg-1: #1CD1AB;
$fg-2: #5DAF9F;

$accent-1: #C84D4F;
$accent-2: #C7DC82;

* {
    all: unset;
    font-family: Cousine Nerd Font;
}

.container {
    background-color: $bg;
    border-radius: 32pt;
    color: $text;
}

.ws {
    margin: 4pt;
    font-size: 16pt;
    min-width: 24pt;
    min-height: 24pt;
    border-radius: 50%;
    background-color: $bg-light;
    padding-top: 2pt;
}

.ws.empty {
    color: $bg;
}

.ws.current {
    background-color: $bg;
}

.botbar {
    background-color: $bg;
    border-radius: 16pt;
}

.volume-icon{
  margin: 0rem 0 .2rem 0;
  font-size: 16pt;
  min-width: 24pt;
  min-height: 24pt;
  margin: 4pt;
  color: $fg-1;
}

.bness-icon {
  margin: .2rem 0 .2rem 0;
  font-size: 16pt;
  min-width: 24pt;
  min-height: 24pt;
  margin: 4pt;
  color: $accent-2;
}

scale trough {
  all: unset;
  background-color: $bg-light;
  border-radius: 5pt;
  min-height: 80pt;
  min-width: 10pt;
  margin: 1rem 0 .3rem 0;
}

.volbar trough highlight {
  background-color: $fg-1;
  border-radius: 5pt;
}

.bbar trough highlight {
  background-color: $accent-2;
  border-radius: 5pt;
}
