$bg: #30383E;
$bg-light: #5B454D;

$text: #E8FAED;

$fg-1: #1CD1AB;
$fg-2: #5DAF9F;

$accent-1: #C84D4F;
$accent-2: #C7DC82;

* {
    all: unset;
    font-family: Cousine Nerd Font;
    font-size: 32px;
}

.music {
    background-color: $bg;
    border-radius: 16pt;
    padding: 8px;
}

.search-bar {
    margin: 0px 16px 0px 16px;
    color: $accent-1;
}

.search-bar.found {
    color: $text;
}

.close-button {
    font-weight: bold;
    margin-left: 4px;
    margin-right: 8px;
    color: $fg-1;
}

.search-label {
    font-weight: bold;
    margin-right: 4px;
    margin-left: 8px;
    color: $fg-1;
}

.title-label {
    margin-top: 8px;
    font-size: 32px;
    font-weight: bold;
    color: $fg-1;
}

.album-label {
    font-size: 24px;
    font-weight: bold;
	color: $fg-2;
}

.artist-label {
    font-size: 24px;
	color: $accent-2;
    margin-bottom: 8px;
}
